.user-profile {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.auditorium-card {
    width: 60%;
    height: auto;
    overflow-y: auto;
    border-radius: 8px;
}

.upcoming-events-card {
    width: 35%;
    height: auto;
    overflow-y: auto;
    border-radius: 8px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th {
    background-color: #370101c9;
    color: #ffffff;
    font-weight: bold;
}

.table .MuiTableCell-root {
    padding: 12px;
    text-align: left;
}

.table .MuiTableCell-root:last-child {
    text-align: right;
}

.table .MuiTableRow-root:nth-of-type(even) {
    background-color: #3b020216;
}

.upcoming-events-card p {
    margin: 5px 0;
    color: #333;
}

.auditorium-card .MuiCardContent-root,
.upcoming-events-card .MuiCardContent-root {
    padding: 15px;
}

.auditorium-card h2,
.upcoming-events-card h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.auditorium-card p,
.upcoming-events-card p {
    font-size: 14px;
    line-height: 1.3;
    color: #555;
}

.event-card {
    margin-bottom: 5px;
    background-color: #fffde7;
    border: 1px solid #2301012b;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    padding: 0px;
}

.event-card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.event-card .MuiCardContent-root {
    padding-top: 5px;
}

.event-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.event-name {
    flex-grow: 1;
    margin-bottom: 10px;
}

.event-time {
    margin-left: 10px;
    margin-top: -15px;
}
