.user-profile {
    display: flex;
    justify-content: space-between; /* Ensure items are spaced evenly */
    padding: 50px;
  }
  
  .profile-image {
    width: 50%; /* Adjust width of the image container as needed */
  }
  
  .profile-image img {
    width: 100%; /* Ensure image fills its container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow to the image */
  }
  
  .upcoming-events {
    width: 40%; /* Adjust width of upcoming events container */
  }
  
  .upcoming-events-card {
    height: auto; /* Set height to auto */
    overflow-y: auto; /* Enable vertical scrolling if content exceeds the height */
    background-color: #dae9f014; /* Light amber background */
    border: 1px solid #201601; /* Light orange border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    border-radius: 8px; /* Rounded corners */
  }
  
  .event-card {
    margin-top: 10px; /* Add some space between event cards */
    background-color: #197edc47; /* Light yellow background */
    border: 1px solid #2301012b; /* Light yellow border */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    border-radius: 8px; /* Rounded corners */
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* Smooth transition for hover effect */
  }
  
  .event-card:hover {
    transform: scale(1.02); /* Slightly enlarge the card on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a more pronounced shadow on hover */
  }
  
  .event-content {
    display: flex;
    justify-content: center; /* Align content horizontally */
    align-items: center; /* Align content vertically */
    flex-direction: column; /* Stack content vertically */
    height: 100%; /* Fill the entire height of the card */
    color: whitesmoke;
  }
  
  .event-name {
    margin: 10px 0px; /* Adjust margin for spacing */
    font-size: 1.5rem; /* Increase font size */
  }
  
  .event-details {
    display: flex;
    flex-direction: column; /* Stack details vertically */
    align-items: center; /* Center details horizontally */
  }
  
  .event-time,
  .event-organizer {
    margin: 5px 0; /* Adjust margin for spacing */
    font-size: 1rem; /* Set font size */
    color: #555; /* Darker text color */
  }